.places {
    text-align: center;
    margin-bottom: 80px;
}

.places > h1 {
    text-align: left;
    padding-left: 12px;
    font-size: 30px;
}

.places > article {
    display: inline-block;
    position: relative;
    width: 390px;
    padding: 20px;
    margin: 20px;
    border: 1px solid #ff5a5f;
    border-radius: 4px;
    text-align: center;
}

article > h2 {
    font-size: 30px;
    display: inline-block;
    position: relative;
    top: -25px;
    margin-bottom: 34px;
}

.price_by_night {
    display: inline-block;
    position: absolute;
    right: 16px;
    top: 14px;
    min-width: 60px;
    height: 60px;
    color: #ff5a5f;
    font-size: 30px;
    padding: 25px 13px 0 13px;
    border: 4px solid #ff5a5f;
    border-radius: 50%;
}

.information {
    height: 80px;
    border-top: 1px solid #dddddd;
    border-bottom: 1px solid #dddddd;
}

.max_guest,
.number_rooms,
.number_bathrooms {
    display: inline-block;
    position: relative;
    width: 100px;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center 30%;
}

.max_guest {
    background-image: url(../images/icon_group.png);
}

.number_rooms {
    background-image: url(../images/icon_bed.png);
}

.number_bathrooms {
    background-image: url(../images/icon_bath.png);
}

.information span {
    position: relative;
    top: 58px;
}

.user {
    margin: 16px auto;
}

.user,
.description {
    text-align: left;
}

.places .amenities {
    text-align: left;
    margin-top: 40px;
}
.places .amenities h2 {
    font-size: 16px;
    border-bottom: 1px solid #dddddd;
    padding-bottom: 6px;
}

.places .amenities ul {
    margin-left: 11px;
}

.places .amenities span {
    position: relative;
    bottom: 15px;
    left: 5px;
}

.TV {
    list-style: url(../images/icon_tv.png);
}

.wifi {
    list-style: url(../images/icon_wifi.png);
}

.pet {
    list-style: url(../images/icon_pets.png);
}

.reviews {
    text-align: left;
    margin-top: 40px;
}

.reviews h2 {
    font-size: 16px;
    border-bottom: 1px solid #dddddd;
    padding-bottom: 6px;
}

.reviews ul {
    list-style-type: none;
    padding-left: 0;
}

.reviews h3 {
    font-size: 14px;
    margin-bottom: -2px;
}

.reviews p {
    font-size: 12px;
    margin-top: 5px;
    margin-bottom: 20px;
}
