header {
    display: flex;
    background: #FFF no-repeat 20px center;
    height: 70px;
    width: 100%;
    border-bottom: 1px solid;
    background-image: url(../images/icon.png);
    padding-left: 52px;
}
