.filters {
    position: relative;
    background-color: white;
    height: 70px;
    width: 100%;
    border: 1px solid #dddddd;
    border-radius: 4px;
}

button {
    position: absolute;
    right: 30px;
    top: 11px;
    font-size: 18px;
    background-color: #ff5a5f;
    color: #ffffff;
    height: 48px;
    width: 20%;
    border: none;
    border-radius: 4px;
}

button:hover {
    opacity: 90%;
}

.locations,
.filters > .amenities {
    height: 100%;
    width: 25%;
    display: inline-block;
    position: relative;
    padding-left: 40px;
}

.locations {
    border-right: 1px solid #dddddd;
}

.locations h3,
.amenities h3 {
    font-weight: 600;
    margin-bottom: 0;
}

.locations h4,
.amenities h4 {
    font-weight: 400;
    font-size: 14px;
    margin-top: 0;
}

.popover {
    display: none;
    box-sizing: border-box;
    background-color: #fafafa;
    position: absolute;
    left: 0;
    width: 100%;
    border: 1px solid #dddddd;
    border-radius: 4px;
    list-style-type: none;
    margin: 0;
    padding-bottom: 25px;
    z-index: 100;
}

.amenities .popover {
    margin-left: -4px;
    padding-top: 25px;
}

.locations .popover {
    padding-left: 25px;
    padding-top: 8px;
    padding-bottom: 12px;
}

.locations:hover .popover,
.amenities:hover .popover {
    display: block;
}

.popover h2 {
    font-size: 16px;
    margin-bottom: 2px;
}

.popover ul {
    list-style-type: none;
    padding-left: 20px;
    margin-top: -3px;
    margin-bottom: 15px;
}

.popover ul li {
    padding: 1px 0;
}

.filters > .amenities > ul > li {
    padding: 1px 0;
}
