.places {
	text-align: center;
	margin-bottom: 80px;
}

.places > h1 {
	text-align: left;
	padding-left: 12px;
	font-size: 30px;
}

.places > article {
	display: inline-block;
	position: relative;
	width: 390px;
	padding: 20px;
	margin: 20px;
	border: 1px solid #FF5A5F;
	border-radius: 4px;
	text-align: center;
}

.places h2 {
	font-size: 30px;
	display: inline-block;
	position: relative;
	top: -25px;
	margin-bottom: 34px;
}

.price_by_night {
	display: inline-block;
	position: absolute;
	right: 16px;
	top: 14px;
	min-width: 60px;
	height: 60px;
	color: #FF5A5F;
	font-size: 30px;
	padding: 25px 13px 0 13px;
	border: 4px solid #FF5A5F;
	border-radius: 50%;
}

.information {
	height: 80px;
	border-top: 1px solid #DDDDDD;
	border-bottom: 1px solid #DDDDDD;
}

.max_guest, .number_rooms, .number_bathrooms {
	display: inline-block;
	position: relative;
	width: 100px;
	height: 100%;
}

.max_guest {
	background: url(../images/icon_group.png) no-repeat center 30%;
}

.number_rooms {
	background: url(../images/icon_bed.png) no-repeat center 30%;
}

.number_bathrooms {
	background: url(../images/icon_bath.png) no-repeat center 30%;
}

.information span {
	position: relative;
	top: 58px;
}

.user {
	margin: 16px auto;
	text-align: left;
}

.description {
	text-align: left;
}
