.places {
	text-align: center;
}

.places > h1 {
	text-align: left;
	width: 95%;
	padding-left: 10px;
	font-size: 30px;
}

.places > article {
	display: inline-block;
	width: 390px;
	padding: 20px;
	margin: 20px;
	border: 1px solid #FF5A5F;
	border-radius: 4px;
	text-align: center;
}

.places h2 {
	font-size: 30px;
	margin: auto;
}

.price_by_night {
	display: inline-block;
	position: relative;
	left: 38%;
	min-width: 60px;
	height: 60px;
	bottom: 40px;
	color: #FF5A5F;
	padding: 24px 12px 0 12px;
	font-size: 30px;
	border: 4px solid #FF5A5F;
	border-radius: 50%;
}

.information {
	height: 80px;
	border-top: 1px solid #DDD;
	border-bottom: 1px solid #DDD;
	margin-top: -25px;
}

.max_guest, .number_rooms, .number_bathrooms {
	display: inline-block;
	position: relative;
	width: 100px;
	height: 90%;
	text-align: center;
}

.max_guest span, .number_rooms span, .number_bathrooms span {
	display: block;
	margin: auto;
	position: absolute;
	bottom: 0;
	left: 20px;
	text-align: center;
}


.max_guest {
	background: url(../images/guests_icon.png) no-repeat center 30%;
}

.number_rooms {
	background: url(../images/room_icon.png) no-repeat center 30%;
}

.number_bathrooms {
	background: url(../images/bathroom_icon.png) no-repeat center 30%;
}

.user {
	margin: 10px auto;
	text-align: left;
}

.description {
	text-align: left;
}
