.places {
    text-align: center;
    margin-bottom: 80px;
}

.places > h1 {
    text-align: left;
    padding-left: 12px;
    font-size: 30px;
}

.places > article {
    display: inline-block;
    position: relative;
    width: 390px;
    padding: 20px;
    margin: 20px;
    border: 1px solid #ff5a5f;
    border-radius: 4px;
    text-align: center;
}

.places h2 {
    font-size: 30px;
    position: relative;
    top: -22px;
    left: -5px;
    margin-bottom: 40px;
}

.price_by_night {
    position: absolute;
    right: 16px;
    top: 16px;
    min-width: 60px;
    height: 60px;
    color: #ff5a5f;
    font-size: 30px;
    padding: 25px 13px 0 13px;
    border: 4px solid #ff5a5f;
    border-radius: 50%;
}

.information {
    height: 80px;
    border-top: 1px solid #dddddd;
    border-bottom: 1px solid #dddddd;
}

.max_guest,
.number_rooms,
.number_bathrooms {
    display: inline-block;
    position: relative;
    width: 100px;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center 30%;
}

.max_guest {
    background-image: url(../images/icon_group.png);
}

.number_rooms {
    background-image: url(../images/icon_bed.png);
}

.number_bathrooms {
    background-image: url(../images/icon_bath.png);
}

.information span {
    position: relative;
    top: 58px;
}

.user,
.description {
    text-align: left;
}

.user {
    margin: 16px auto;
}
